@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v16/S6u8w4BMUTPHjxsAXC-v.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI5wq_Gwfo.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPHA.ttf) format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono Medium';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('JetBrains Mono Medium Italic'), local('JetBrains-Mono-Medium-Italic'), url(https://download.jetbrains.com/fonts/JetBrainsMono-1.0.3.zip) format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono Medium';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('JetBrains Mono Medium Italic'), local('JetBrains-Mono-Medium-Italic'), url(https://download.jetbrains.com/fonts/JetBrainsMono-1.0.3.zip);
}
@font-face {
  font-family: 'JetBrains Mono Medium';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('JetBrains Mono Medium Italic'), local('JetBrains-Mono-Medium-Italic'), url(https://download.jetbrains.com/fonts/JetBrainsMono-1.0.3.zip);
}
@font-face {
  font-family: 'JetBrains Mono Medium';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('JetBrains Mono Medium Bold Italic'), local('JetBrains-Mono-Medium-Bold-Italic'), url(https://download.jetbrains.com/fonts/JetBrainsMono-1.0.3.zip);
}
@font-face {
  font-family: 'JetBrains Mono Medium';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('JetBrains Mono Medium'), local('JetBrains-Mono-Medium'), url(https://download.jetbrains.com/fonts/JetBrainsMono-1.0.3.zip);
}
@font-face {
  font-family: 'JetBrains Mono Medium';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('JetBrains Mono Medium'), local('JetBrains-Mono-Medium'), url(https://download.jetbrains.com/fonts/JetBrainsMono-1.0.3.zip);
}
@font-face {
  font-family: 'JetBrains Mono Medium';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('JetBrains Mono Medium Bold'), local('JetBrains-Mono-Medium-Bold'), url(https://download.jetbrains.com/fonts/JetBrainsMono-1.0.3.zip);
}
@font-face {
  font-family: 'JetBrains Mono Medium';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('JetBrains Mono Medium Bold'), local('JetBrains-Mono-Medium-Bold'), url(https://download.jetbrains.com/fonts/JetBrainsMono-1.0.3.zip);
}

html {
  font-family: Lato, system-ui, -apple-system, BlinkMacSystemFont, 'Microsoft YaHei', 'Segoe UI', 
                Ubuntu, Roboto, Oxygen, Cantarell, 'Fira Sans', 'Droid Sans',
                'Helvetica Neue', Helvetica, Arial, Verdana, 'Lucida Grande', 
                sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

code,
pre,
tt,
kbd,
samp {
  font-family: 'JetBrains Mono Medium', Menlo, Consolas, 'Liberation Mono', monospace;
  font-weight: 500;
}
